
* {
    
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-color: chocolate;

}

.calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-content: center;
    justify-content: flex-end;
    border: 2px solid black;
    height: 100%;
    background-color: black;
    padding-bottom: 40px;
    margin-bottom: 40px;
    padding: 1px;
    border-radius: 5%;
}

button:hover {
    color: rgb(0, 0, 0);
}

button:active {
    background-color: orange;
}

input {
    margin-top: 5%;
    height: 20%;
    width: 450px;
    font-size: 50px;
    border-radius: 10px;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 5rem;
    margin: 0;

}


button {

    font-size: 5rem;
    width: 110px;
    border-radius: 50px;

}

.orange {
    background-color: orange;
    color: white;
}

.orange:active {
    background-color: lightgrey;
}

.grey:hover {
    color: aliceblue;
}

.grey {
    padding: 1px;
    background-color: lightgrey;
}

.dark {
    background-color: rgb(48, 48, 48);
    color: white;
    border: 1px solid black;
}


.zero {
    padding-left: 30px;
    text-align: start;
    width: 240px;
    background-color: rgb(48, 48, 48);
    border: 1px solid black;
    color: white;
}

.row-1 {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

@media screen and (max-width: 525px) {
    body {
        box-sizing: border-box;
    }
    
    
    .calculator {
        height: initial;
        width: 200px;
    }

    input {
        
        height:55px;
        width: 85%;
    }

    button {
        
        width: 75%;
        font-size: 25px;
    }

    h1 {
        font-size: 50px;
    }

   .zero {
       width: 83px;
       padding-right:30px;
   }

.orange {
    width: 75px;

}

.grey {
width: 75%;
font-size: 22px;
}

}

