body {
    background-color: chocolate;
    box-sizing: border-box;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0%; */

}

.calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-content: center;
    justify-content: flex-end;
    border: 2px solid black;
    height: 95vh;
    background-color: black;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

button:hover {
    color: rgb(0, 0, 0);
}

button:active {
    background-color: orange;
}

input {
    height: 100px;
    width: 450px;
    font-size: 7rem;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 7rem;
    margin: 0;

}


button {

    font-size: 5rem;
    width: 110px;
    border-radius: 50px;

}

.orange {
    background-color: orange;
    color: white;
}

.orange:active {
    background-color: lightgrey;
}

.grey:hover {
    color: aliceblue;
}

.grey {
    background-color: lightgrey;
}

.dark {
    background-color: rgb(48, 48, 48);
    color: white;
    border: 1px solid black;
}


.zero {
    padding-left: 30px;
    text-align: start;
    width: 240px;
    background-color: rgb(48, 48, 48);
    border: 1px solid black;
    color: white;
}

.row-1 {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}